In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('exoplanet.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Planet Name                                 223 non-null    object
 1   Host Name                                   223 non-null    object
 2   Number of Stars                             223 non-null    int64
 3   Number of Planets                           223 non-null    int64
 4   Discovery Method                            223 non-null    object
 5   Discovery Year                              223 non-null    int64
 6   Orbital Period [days]                       223 non-null    float64
 7   Planet Radius [Earth Radius]                223 non-null    float64
 8   Planet Mass or Mass*sin(i) [Earth Mass]     223 non-null    float64
 9   Planet Mass or Mass*sin(i) [Jupiter Mass]   223 non-null    float64
 10  Equilibrium Temperature [K]                 223 non-null    float64
 11  Insolation Flux [Earth Flux]                223 non-null    float64
 12  Planet Density [g/cm**3]                    223 non-null    float64
 13  Eccentricity                                223 non-null    float64
 14  Impact Parameter                            223 non-null    float64
 15  Ratio of Semi-Major Axis to Stellar Radius  223 non-null    float64
 16  habitability_score                          223 non-null    float64
dtypes: float64(11), int64(3), object(3)
memory usage: 29.7+ KB

In [26]:
#corr between columns Insolation Flux [Earth Flux] and Equilibrium Temperature [K]
print(df['Insolation Flux [Earth Flux]'].corr(df['Equilibrium Temperature [K]']))

0.6003367117364958

In [27]:
# drop Discovery Method, Discovery Year, Planet Mass or Mass*sin(i) [Jupiter Mass], Insolation Flux [Earth Flux], Ratio of Semi-Major Axis to Stellar Radius
df.drop(['Discovery Method', 'Discovery Year', 'Planet Mass or Mass*sin(i) [Jupiter Mass]', 'Insolation Flux [Earth Flux]', 'Ratio of Semi-Major Axis to Stellar Radius', 'Impact Parameter'], axis=1, inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 11 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Planet Name                              223 non-null    object
 1   Host Name                                223 non-null    object
 2   Number of Stars                          223 non-null    int64
 3   Number of Planets                        223 non-null    int64
 4   Orbital Period [days]                    223 non-null    float64
 5   Planet Radius [Earth Radius]             223 non-null    float64
 6   Planet Mass or Mass*sin(i) [Earth Mass]  223 non-null    float64
 7   Equilibrium Temperature [K]              223 non-null    float64
 8   Planet Density [g/cm**3]                 223 non-null    float64
 9   Eccentricity                             223 non-null    float64
 10  habitability_score                       223 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 19.3+ KB

In [29]:
rename_dict = {
    'Planet Name': 'Planet',
    'Host Name': 'Star',
    'Number of Stars': 'Star Count',
    'Number of Planets': 'Planet Count',
    'Orbital Period [days]': 'Orbit Time (days)',
    'Planet Radius [Earth Radius]': 'Planet Size (Earths)',
    'Planet Mass or Mass*sin(i) [Earth Mass]': 'Planet Mass (Earths)',
    'Equilibrium Temperature [K]': 'Planet Temp (K)',
    'Planet Density [g/cm**3]': 'Planet Density',
    'Eccentricity': 'Orbit Shape',
    'Impact Parameter': 'Transit Alignment'
}

df.rename(columns=rename_dict, inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Planet                223 non-null    object
 1   Star                  223 non-null    object
 2   Star Count            223 non-null    int64
 3   Planet Count          223 non-null    int64
 4   Orbit Time (days)     223 non-null    float64
 5   Planet Size (Earths)  223 non-null    float64
 6   Planet Mass (Earths)  223 non-null    float64
 7   Planet Temp (K)       223 non-null    float64
 8   Planet Density        223 non-null    float64
 9   Orbit Shape           223 non-null    float64
 10  habitability_score    223 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 19.3+ KB

In [31]:
# calculate temperature in Celsius
df['Planet Temp (C)'] = df['Planet Temp (K)'] - 273.15

#drop Planet Temp (K)
df.drop('Planet Temp (K)', axis=1, inplace=True)

In [35]:
description_dict = {
    'Planet': 'Name of the planet',
    'Star': 'Name of the star the planet orbits',
    'Star Count': 'Number of stars in the system',
    'Planet Count': 'Number of planets in the system',
    'Orbit Time (days)': 'Time the planet takes to orbit its star, in days',
    'Planet Size (Earths)': 'Size of the planet compared to Earth',
    'Planet Mass (Earths)': 'Mass of the planet compared to Earth',
    'Planet Temp (C)': 'Estimated temperature of the planet in Celsious',
    'Planet Density': 'Density of the planet in grams per cubic centimeter',
    'Orbit Shape': 'How elliptical the planet’s orbit is (0 = circular)'
}

# make the dict to a string
description_str = str(description_dict)

In [33]:
# make a string that looks like col name: value for each row
df['Information'] = df.apply(lambda row: ', '.join([f'{k}: {row[k]}' for k in description_dict.keys()]), axis=1)

In [34]:
df.head()

,Planet,Star,Star Count,Planet Count,Orbit Time (days),Planet Size (Earths),Planet Mass (Earths),Planet Density,Orbit Shape,habitability_score,Planet Temp (C),Information
0,TOI-2406 b,TOI-2406,1,1,3.076689,2.860,15.60000,27.40,0.170,0.397514,175.85,"Planet: TOI-2406 b, Star: TOI-2406, Star Count..."
1,TOI-2120 b,TOI-2120,1,1,5.799816,2.122,6.80000,20.60,0.320,0.392099,110.85,"Planet: TOI-2120 b, Star: TOI-2120, Star Count..."
2,TOI-4603 b,TOI-4603,1,1,7.245990,11.680,4096.80817,14.10,0.325,0.280264,1403.85,"Planet: TOI-4603 b, Star: TOI-4603, Star Count..."
3,TOI-1448 b,TOI-1448,1,1,8.112245,2.749,19.50000,9.51,0.360,0.465118,152.85,"Planet: TOI-1448 b, Star: TOI-1448, Star Count..."
4,TOI-1075 b,TOI-1075,1,1,0.604733,1.791,9.95000,9.32,0.000,0.434263,1049.85,"Planet: TOI-1075 b, Star: TOI-1075, Star Count..."

In [36]:
import pandas as pd
import requests
import json
import multiprocessing as mp
from tqdm import tqdm
import numpy as np
from functools import partial

def generate_text(input_text, prompt_template, context=None, language=None, model="llama3.1", api_url="http://172.21.230.10:11434/api/generate"):
    """
    Generate text based on input and a prompt template using a specified model.
    
    Args:
        input_text (str): The input text to be processed
        prompt_template (str): The template string with placeholders
        context (str, optional): Additional context to be included in the prompt
        language (str, optional): Target language for translation
        model (str): The model to use for generation
        api_url (str): The URL of the API endpoint
    
    Returns:
        str: Generated text or None if an error occurs
    """
    format_dict = {"input_text": input_text}
    if context:
        format_dict["context"] = context
    if language:
        format_dict["language"] = language
    
    formatted_prompt = prompt_template.format(**format_dict)
    
    payload = {
        "model": model,
        "prompt": formatted_prompt,
        "stream": False
    }
    
    try:
        response = requests.post(api_url, json=payload)
        response.raise_for_status()
        return response.json().get('response', '')
    except requests.RequestException as e:
        print(f"Error generating text: {e}")
        return None

def process_chunk(chunk, input_col, output_col, prompt_template, context=None, language=None):
    """Process a chunk of the dataframe."""
    tqdm.pandas(desc=f"Processing {len(chunk)} rows")
    chunk[output_col] = chunk[input_col].progress_apply(
        lambda x: generate_text(x, prompt_template, context, language)
    )
    return chunk

def parallel_process_dataframe(df, input_col, output_col, prompt_template, context=None, language=None, num_cores=None):
    """
    Process a dataframe in parallel, applying the prompt template to the input column
    and storing results in the output column.
    
    Args:
        df (pd.DataFrame): Input dataframe
        input_col (str): Name of the input column
        output_col (str): Name of the output column to create
        prompt_template (str): Template string with placeholders
        context (str, optional): Additional context to be included in the prompt
        language (str, optional): Target language for translation
        num_cores (int): Number of CPU cores to use. If None, uses all available cores.
    
    Returns:
        pd.DataFrame: Processed dataframe with the new output column
    """
    if input_col not in df.columns:
        raise ValueError(f"Input column '{input_col}' not found in dataframe")
    
    num_cores = num_cores or mp.cpu_count()
    chunks = np.array_split(df, num_cores)
    
    process_chunk_partial = partial(
        process_chunk,
        input_col=input_col,
        output_col=output_col,
        prompt_template=prompt_template,
        context=context,
        language=language
    )
    
    print(f"Processing {len(df)} rows using {num_cores} CPU cores")
    
    with mp.Pool(num_cores) as pool:
        with tqdm(total=len(chunks), desc="Overall Progress") as pbar:
            results = []
            for result in pool.imap(process_chunk_partial, chunks):
                results.append(result)
                pbar.update(1)
    
    return pd.concat(results)

In [37]:

# Example prompt templates
description_prompt = '''Context: {context}

Given the context above, explain what this planet is like to a kid between 
the ages 12 to 16 in a realistic but interesting way. Use 3 sentences and 
no more than 85 words.

Planet information: {input_text}'''

translation_prompt = '''Context: {context}

You are an AI specialized in translating text to natural {language}. 
Given the following text, return ONLY the {language} translation.

Text to translate: {input_text}'''

# Example contexts
astronomy_context = description_str

translation_context = """When translating astronomical texts, maintain scientific 
accuracy while using natural, engaging language that a young audience can understand."""

In [38]:
# Generate English descriptions
df = parallel_process_dataframe(
    df, 
    input_col='Information',
    output_col='description',
    prompt_template=description_prompt,
    context=astronomy_context
)

Processing 223 rows using 12 CPU cores

Processing 18 rows: 100%|██████████| 18/18 [01:27<00:00,  4.88s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:28<00:00,  4.93s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:30<00:00,  5.05s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:31<00:00,  5.11s/it]

Processing 19 rows: 100%|██████████| 19/19 [01:32<00:00,  4.87s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:32<00:00,  5.15s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:33<00:00,  4.91s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:33<00:00,  4.92s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:34<00:00,  4.95s/it]

Processing 19 rows: 100%|██████████| 19/19 [01:34<00:00,  4.97s/it]
Overall Progress: 100%|██████████| 12/12 [01:34<00:00,  7.87s/it]

In [39]:
# List of languages to translate to
languages = ['Spanish', 'French', 'German']

# Generate translations for each language
for lang in languages:
    output_col = f'description_{lang.lower()}'
    df = parallel_process_dataframe(
        df,
        input_col='description',
        output_col=output_col,
        prompt_template=translation_prompt,
        context=translation_context,
        language=lang
    )

# Save results
df.to_csv('planets_with_multilingual_descriptions.csv', index=False)

Processing 223 rows using 12 CPU cores

Processing 18 rows: 100%|██████████| 18/18 [01:47<00:00,  5.96s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:48<00:00,  6.02s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:49<00:00,  6.06s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:50<00:00,  6.14s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:51<00:00,  6.17s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:51<00:00,  5.88s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:51<00:00,  5.89s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:52<00:00,  5.91s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:53<00:00,  5.96s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:53<00:00,  5.97s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:53<00:00,  5.98s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:54<00:00,  6.00s/it]
Overall Progress: 100%|██████████| 12/12 [01:54<00:00,  9.51s/it]

Processing 223 rows using 12 CPU cores

Processing 18 rows: 100%|██████████| 18/18 [01:54<00:00,  6.36s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:56<00:00,  6.14s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:56<00:00,  6.49s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:57<00:00,  6.53s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:58<00:00,  6.24s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:59<00:00,  6.62s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:59<00:00,  6.63s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:59<00:00,  6.30s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:01<00:00,  6.38s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:01<00:00,  6.38s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:01<00:00,  6.39s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:01<00:00,  6.39s/it]
Overall Progress: 100%|██████████| 12/12 [02:01<00:00, 10.13s/it]

Processing 223 rows using 12 CPU cores

Processing 18 rows: 100%|██████████| 18/18 [01:51<00:00,  6.20s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:52<00:00,  6.24s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:52<00:00,  6.27s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:54<00:00,  6.38s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:56<00:00,  6.48s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:57<00:00,  6.16s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:57<00:00,  6.16s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:58<00:00,  6.24s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:58<00:00,  6.25s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:58<00:00,  6.26s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:58<00:00,  6.26s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:59<00:00,  6.30s/it]
Overall Progress: 100%|██████████| 12/12 [01:59<00:00,  9.99s/it]

Processing 223 rows using 12 CPU cores

Processing 18 rows: 100%|██████████| 18/18 [02:38<00:00,  8.78s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:43<00:00,  8.62s/it]
Processing 18 rows: 100%|██████████| 18/18 [02:45<00:00,  9.18s/it]
Processing 18 rows: 100%|██████████| 18/18 [02:45<00:00,  9.21s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:46<00:00,  8.79s/it]
Processing 18 rows: 100%|██████████| 18/18 [02:47<00:00,  9.30s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:47<00:00,  8.84s/it]
Processing 18 rows: 100%|██████████| 18/18 [02:48<00:00,  9.37s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:49<00:00,  8.94s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:49<00:00,  8.94s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:49<00:00,  8.95s/it]
Processing 19 rows: 100%|██████████| 19/19 [02:50<00:00,  8.99s/it]
Overall Progress: 100%|██████████| 12/12 [02:50<00:00, 14.25s/it]

Processing 223 rows using 12 CPU cores

Processing 18 rows: 100%|██████████| 18/18 [01:37<00:00,  5.42s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:38<00:00,  5.50s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:39<00:00,  5.54s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:40<00:00,  5.28s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:40<00:00,  5.58s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:41<00:00,  5.35s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:42<00:00,  5.37s/it]
Processing 18 rows: 100%|██████████| 18/18 [01:42<00:00,  5.69s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:43<00:00,  5.43s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:43<00:00,  5.45s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:43<00:00,  5.45s/it]
Processing 19 rows: 100%|██████████| 19/19 [01:43<00:00,  5.45s/it]
Overall Progress: 100%|██████████| 12/12 [01:43<00:00,  8.65s/it]

In [40]:
# Print sample results
print("\nSample Results:")
for _, row in df.sample(n=1).iterrows():
    print(f"\nOriginal Information:\n{row['Information'][:100]}...")
    print(f"English Description:\n{row['description'][:100]}...")
    for lang in languages:
        col = f'description_{lang.lower()}'
        print(f"{lang} Description:\n{row[col][:100]}...")

Sample Results:

Original Information:
Planet: TOI-4791 b, Star: TOI-4791, Star Count: 1, Planet Count: 1, Orbit Time (days): 4.28088, Plan...
English Description:
Here's an explanation of the planet TOI-4791 b that a kid between 12 to 16 can understand:

Meet TOI...
Spanish Description:
¡Conoce a TOI-4791 b, un planeta super cool y de gran tamaño! Mide alrededor de 12 veces más que la ...
French Description:
Voici l'explication du planète TOI-4791 b que comprendra un ado de 12 à 16 ans :

Rencontrez TOI-479...
German Description:
Here's the translation:

Hier ist die Erklärung zum Planeten TOI-4791 b, das ein Kind zwischen 12 un...
Hindi Description:
मिलिए टीओआई-479१ ब से, एक अद्भुत और बहुत बड़ा ग्रह जो पृथ्वी की तुलना में 12 गुना बड़ा है ! यह विशाल...
Japanese Description:
TOI-4791 bは、すごく面白い大きな惑星でした！地球の約12倍大きくなり、その大きさでは、私たちの地球は丸い小石のように見えます。この巨大な惑星は、毎4日という周期で恒星を回っていて、気温が高く...

READING

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('planets_with_multilingual_descriptions.csv')

In [6]:
# keep only this plantes TOI-2406 b, Qatar-5 b, HD191939 b, Kepler-1654 b, LTT1445 A c, PH2 b, WASP-18 b, GPX-1 b, NGTS-15 b, XO-7 b, K2-216 b, HAT-P-61 b, HATS-70 b, KELT-24 b, Qatar-4 b
df_sample = df[df['Planet'].isin(['TOI-2406 b', 'Qatar-5 b', 'HD 191939 b', 'Kepler-1654 b', 'LTT 1445 A c', 'PH2 b', 'WASP-18 b', 'GPX-1 b', 'NGTS-15 b', 'XO-7 b', 'K2-216 b', 'HAT-P-61 b', 'HATS-70 b', 'KELT-24 b', 'Qatar-4 b'])]

In [7]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 0 to 189
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Planet                15 non-null     object
 1   Star                  15 non-null     object
 2   Star Count            15 non-null     int64
 3   Planet Count          15 non-null     int64
 4   Orbit Time (days)     15 non-null     float64
 5   Planet Size (Earths)  15 non-null     float64
 6   Planet Mass (Earths)  15 non-null     float64
 7   Planet Density        15 non-null     float64
 8   Orbit Shape           15 non-null     float64
 9   habitability_score    15 non-null     float64
 10  Planet Temp (C)       15 non-null     float64
 11  Information           15 non-null     object
 12  description           15 non-null     object
 13  description_spanish   15 non-null     object
 14  description_french    15 non-null     object
 15  description_german    15 non-null     object
 16  description_hindi     15 non-null     object
 17  description_japanese  15 non-null     object
dtypes: float64(7), int64(2), object(9)
memory usage: 2.2+ KB

In [10]:
df_sample.describe()

,Star Count,Planet Count,Orbit Time (days),Planet Size (Earths),Planet Mass (Earths),Planet Density,Orbit Shape,habitability_score,Planet Temp (C)
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,1.266667,1.466667,91.364652,9.947400,1296.987505,5.442828,0.084467,0.481519,1025.850000
std,0.593617,1.302013,274.218734,5.240688,1876.849950,6.678212,0.097853,0.099944,773.848546
min,1.000000,1.000000,0.941452,1.147000,1.540000,0.340000,0.000000,0.378745,-67.150000
25%,1.000000,1.000000,1.895275,6.295000,51.342490,1.300000,0.000000,0.410047,420.850000
50%,1.000000,1.000000,2.879232,12.330000,238.689130,3.950000,0.031900,0.481226,1111.850000
75%,1.000000,1.000000,4.413861,13.310500,1698.797695,6.620000,0.175000,0.506942,1350.850000
max,3.000000,6.000000,1047.835600,16.477000,6261.219620,27.400000,0.260000,0.745423,2456.850000

In [11]:
#

,min,max
Planet,GPX-1 b,XO-7 b
Star,GPX-1,XO-7
Star Count,1,3
Planet Count,1,6
Orbit Time (days),0.941452,1047.8356
Planet Size (Earths),1.147,16.477
Planet Mass (Earths),1.54,6261.21962
Planet Density,0.34,27.4
Orbit Shape,0.0,0.26
habitability_score,0.378745,0.745423
Planet Temp (C),-67.15,2456.85
Information,"Planet: GPX-1 b, Star: GPX-1, Star Count: 1, P...","Planet: XO-7 b, Star: XO-7, Star Count: 1, Pla..."
description,Here's a description of Qatar-4 b that a kid b...,Let's talk about XO-7 b! This planet is a real...
description_spanish,Aquí tienes una explicación de HD 191939 b que...,"¡Imagina un planeta gigante llamado Qatar-4 b,..."
description_french,"Bonjour là-bas, fan de l'espace ! Kepler-1654 ...",Voici une traduction amusante de GPX-1 b pour ...
description_german,Bilder könnt ihr euch vielleicht besser machen...,Lasst uns über XO-7 b sprechen! Diese Welt ist...
description_hindi,"TOI-2406 b के बारे में बात करें, यह एक सुपर अर...",यहाँ एक तेज़ गर्म ग्रह HD 191939 बी के बारे मे...
description_japanese,Here is the translation:\n\nあなたは宇宙の旅をする若者！クウェー...,宇宙好き！ケプラー1654 b は、地球の約9倍の大きなすばらしい惑星です。軌道周期は、3年...

In [8]:
# make knn model
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

# Select the columns for the model
features = ['Planet Size (Earths)', 'Planet Density', 'Planet Temp (C)']
X = df_sample[features].copy()

# Standardize the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Fit the model
knn_model = NearestNeighbors(n_neighbors=5, algorithm='ball_tree')
knn_model.fit(X_scaled)

# Find the closest planets to this parameters
new_data = {
    'Planet Size (Earths)': 1,
    'Planet Density': 5.5,
    'Planet Temp (C)': 15
}

# Scale the new data
new_data_scaled = scaler.transform([list(new_data.values())])

# Find the closest planets
distances, indices = knn_model.kneighbors(new_data_scaled)

# Display the closest planets
print("\nClosest Planets:")
for i, idx in enumerate(indices[0]):
    print(f"Planet {i + 1}: {df.iloc[idx]['Planet']}")
    print(f"Distance: {distances[0][i]:.2f}")
    print(f"Information: {df.iloc[idx]['Information']}\n")  

# save the model
import joblib

# Save the model
joblib.dump(knn_model, 'knn_model.pkl')

Closest Planets:
Planet 1: GPX-1 b
Distance: 0.30
Information: Planet: GPX-1 b, Star: GPX-1, Star Count: 1, Planet Count: 1, Orbit Time (days): 1.744579, Planet Size (Earths): 16.477, Planet Mass (Earths): 6261.21962, Planet Temp (C): 2026.85, Planet Density: 8.22242, Orbit Shape: 0.0

Planet 2: TOI-172 b
Distance: 1.12
Information: Planet: TOI-172 b, Star: TOI-172, Star Count: 1, Planet Count: 1, Orbit Time (days): 9.47725, Planet Size (Earths): 10.817, Planet Mass (Earths): 1722.6386, Planet Temp (C): 924.85, Planet Density: 7.53, Orbit Shape: 0.3806

Planet 3: TOI-4603 b
Distance: 1.18
Information: Planet: TOI-4603 b, Star: TOI-4603, Star Count: 1, Planet Count: 1, Orbit Time (days): 7.24599, Planet Size (Earths): 11.68, Planet Mass (Earths): 4096.80817, Planet Temp (C): 1403.85, Planet Density: 14.1, Orbit Shape: 0.325

Planet 4: Kepler-553 c
Distance: 1.75
Information: Planet: Kepler-553 c, Star: Kepler-553, Star Count: 1, Planet Count: 2, Orbit Time (days): 328.24017, Planet Size (Earths): 11.579, Planet Mass (Earths): 2129.45033, Planet Temp (C): -22.149999999999977, Planet Density: 7.53, Orbit Shape: 0.346

Planet 5: HD 23472 d
Distance: 1.81
Information: Planet: HD 23472 d, Star: HD 23472, Star Count: 1, Planet Count: 5, Orbit Time (days): 3.97664, Planet Size (Earths): 0.75, Planet Mass (Earths): 0.55, Planet Temp (C): 635.85, Planet Density: 7.5, Orbit Shape: 0.07

/home/sthefano/miniforge3/envs/nasa/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

['knn_model.pkl']